html {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #ffffe0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pointer {
  cursor: pointer;
}
.main {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh auto;
  box-sizing: border-box;
}
.title {
  display: block;
  color: rgb(65, 48, 25);
  margin: 0 0 2rem;
  text-decoration: underline overline #ff3028;
}
.textContainer {
  border-radius: 50px;
  background: #f0fdff;
  box-shadow: 2px 2px 5px #ccd7d9, -2px -2px 5px #ffffff;
  padding: 2rem;
}
.text {
  margin: 0;
  line-height: 2rem;
}
.form {
  margin: 1rem auto 3rem auto;
}
.input {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
}
.addButton {
  margin: 1rem;
  border-radius: 50px;
  background: #d1d1d1;
  box-shadow: 2px 2px 5px #b2b2b2, -2px -2px 5px #f0f0f0;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  color: white;
}
.todosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 150px;
  background: #ffffe0;
  box-shadow: 2px 2px 5px #ababa2, -2px -2px 5px #ffffff;
  padding: 0.2rem 2rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}
.content {
  margin: 1rem;
}
.true {
  text-decoration: line-through;
}
@media all and (max-width: 500px) {
  .main {
    width: 90%;
  }
}
